@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@700&display=swap");

$firstFont: "Inter", sans-serif;

$red: #ff5959;
$white: #ffffff;
$green: #52df68;
$grey: #969696;
$darkGrey: #343434;
$background: #e5e5e5;
$black: #292727;
$item: #4e4d4d;
